@import "variables";
@import "mixins";
@import "button";

body {
  background-color: $page-background;
}

.btn {
  --color: red;
  background: $primary-color;
  padding: 20px;
  border-radius: var(--border-radius);
  color: var(--color);
}

.wrapper {
  .inner-wrapper {
    p {
      // mixin
      @include set-text-style(30px, green);
      // function
      color: get-color($page-background);
    }

    button {
      padding: 20px;
      border-radius: 14px;
      //   &:hover {
      //     background-color: $primary-color;
      //   }
      &.my-btn {
        background-color: $primary-color;
        &--disabled {
          color: #fff;
        }
      }
    }
  }
}
